<!DOCTYPE>
<html>
    <title><%= title %></title>
    <body>
        <div class="container">
            <h1><%= challenge %></h1>

            <!-- static -->
            <button>Next page</button>

            <!-- dynamic-->
            <button><%= textButton %></button>
        </div>
    </body>
</html>